body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul[role='list'],
ol[role='list'],
a:not([class]),
input,
button,
textarea,
select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    list-style: none;
    text-decoration-skip-ink: auto;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove all animations, transitions and smooth scroll for reduced motion preference */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}